* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Montserrat';
    font-size: 16px;
    scroll-behavior: smooth;
    z-index:1;
    background: #fee0b9;
}

#title{
    background: #390f03;
    height: 80px;
    width: auto;
    color: white;
    padding-top: 15px;
    margin-left: 20px;
    font-size: 35px;
    letter-spacing: 20px;
    font-family: 'Prata';
}

.navbar{
    background: #390f03;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;

}

.navbar__container{
    background: #390f03;
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 2;
    width:100%;
    max-width: 1300px;
    margin: 0 auto;
    margin-left: 20px;
    padding: 0 0;
}

#navbar__logo:hover {
    transform: scale(1.25); 
}

.navbar__menu{
    background: #390f03;
    display:flex;
    align-items: center;
    list-style:none;
}

.navbar__item{
    background: #390f03;
    height: 80px;
    width: auto;
    padding: 10px;
    text-align: center;
}

.navbar__links{
    background: #390f03;
    color: #fff;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__btn{
    background: #390f03;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 1 rem;
    width:100%; 
}

.button1{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    text-decoration:none;
    padding:10px 20px;
    height:100%;
    width:60%;
    border:none;
    outline:none;
    border-radius: 5px;
    background: #F7B801;
    background: -webkit-linear-gradient(to bottom, #75C9C8, #073B3A);
    background: linear-gradient(to top,#671B05, #390f03);
    color: #fff;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #F18701;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    transform: scale(1.25); 
}

.navbar__btn:hover {
    transform: scale(1.25); 
}

.recipeInformation{
    display:flex;
}

.recipeTitle{
    text-align: center;
    font-size: 3.5vw;
    height:40%;
    padding-left: 1%;
    padding-top: 1%;
    max-height: 90%;
    letter-spacing: 10px;
    font-family: "Playfair Display";
}

.recipeAuthor{
    font-size: 20px;
    padding-left: 3%;
    justify-self: right;
}

.recipeImage{
    display:grid;
    padding-left: 0%;
    padding-top: 0%;
    padding-right: 0px;
    justify-content:left;
    float: left;
    width:600px;
}

.recipeImage img {
    display: grid;
    max-width:100%;
    height:auto;
    margin-top: 5%;
    margin-left: 5%;
 }

.recipeIngredients{
    padding-left: 3%;
    padding-top: 3%;
    font-size: 30px;
}

.recipeInstructions{
    padding-left: 5%;
    padding-top: 3%;
    font-size: 30px;
}